.UPLOAD_IMGS__PAGE {
  height: 100vh;
  flex: 8;
  display: flex;
  flex-direction: column;
}

.UPLOAD_IMGS__PAGE header {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
  background-color: #fff;
  align-items: center;
}

.UPLOAD_IMGS__PAGE header > button {
  font-size: 20px;
  cursor: pointer;
}

.UPLOAD_IMGS__PAGE header > div {
  display: flex;
  gap: 1rem;
  height: 100%;
  align-items: center;
}

.UPLOAD_IMGS__PAGE header > div > button {
  color: #17181a;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid #17181a;
  border-radius: 999px;
  height: 81%;
  font-weight: 500;
  font-size: 12px;

  color: #17181a;
}

.UPLOAD_IMGS__PAGE header > div figure {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.UPLOAD_IMGS__PAGE header > div figure svg:nth-child(2) {
  stroke-width: 27px;
}

.UPLOAD_IMGS__PAGE .body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UPLOAD_IMGS__PAGE .body .body-wrapper {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(5, 1fr);
  width: 90%;
  height: 90%;
  border-radius: 8px;
  overflow: hidden;
  gap: 1rem;
  max-width: 830px;
}

.UPLOAD_IMGS__PAGE .body .body-wrapper .catalouge {
  grid-column: 1/3;
  grid-row: 1/9;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 0 0 10px 0;
}

.UPLOAD_IMGS__PAGE .body .body-wrapper .catalouge figure .img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dbdef1;
  height: 177px;
}

.UPLOAD_IMGS__PAGE .body .body-wrapper .catalouge figure figcaption {
  padding: 8px 16px 8px 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UPLOAD_IMGS__PAGE .body .body-wrapper .catalouge figure figcaption .doc-order {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 4px 6px;
  gap: 4px;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;

  color: #17181a;

  border: 1px solid #666e80;
  border-radius: 4px;
}

.UPLOAD_IMGS__PAGE .body .body-wrapper .docs-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 0 1rem 1rem;
  gap: 0.7rem;
  flex: 1 1;
  width: fit-content;
  margin: auto;
}

.UPLOAD_IMGS__PAGE .body .body-wrapper .docs-wrapper .doc-item {
  height: 46px;
  width: 46px;
  background: #f6f6f6;
  border-radius: 8px;
  padding: 0.625rem;
  cursor: pointer;
}

.UPLOAD_IMGS__PAGE .body .body-wrapper .docs-wrapper .doc-item.active {
  background: #fff;
  border: 1px solid #666e80;
}

.UPLOAD_IMGS__PAGE .body .body-wrapper .docs-wrapper .doc-item img {
  max-width: 100%;
  display: block;
}

.UPLOAD_IMGS__PAGE .body .body-wrapper .catalouge button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 59px;
  gap: 8px;
  width: 256px;
  height: 38px;
  background: #2759cd;
  border-radius: 8px;
  margin: auto;
  color: #fff;
}

.UPLOAD_IMGS__PAGE .body .body-wrapper .filters {
  grid-column: 3/6;
  grid-row: 1/3;
  border-radius: 8px;
  padding: 0.4rem 1rem;
  display: flex;
  flex-direction: column;
}

.UPLOAD_IMGS__PAGE .body .body-wrapper .filters .filter-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.4rem;
  padding: 0.4rem 1rem;
}

.UPLOAD_IMGS__PAGE .body .body-wrapper .filters .filter-inputs label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  color: #303030;
}

.UPLOAD_IMGS__PAGE .body .body-wrapper .filters .filter-inputs select {
  /* width: 198px; */
  /* height: 37px; */
  border-radius: 6px;
  padding: 8px 16px;
}

.UPLOAD_IMGS__PAGE
  .body
  .body-wrapper
  .filters
  .filter-inputs
  .filter-input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 284px;
  height: 37px; */
  position: relative;
}

.UPLOAD_IMGS__PAGE
  .body
  .body-wrapper
  .filters
  .filter-inputs
  .filter-input-wrapper
  input[type='text'] {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  outline: none;
  border: 1px solid #6b729e;
}

.UPLOAD_IMGS__PAGE
  .body
  .body-wrapper
  .filters
  .filter-inputs
  .filter-input-wrapper
  div.primary-btn {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  background: #2759cd;
  border-radius: 4px;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.UPLOAD_IMGS__PAGE .body .body-wrapper .filters-wrapper {
  padding: 3px 16px 3px 8px;
  gap: 8px;
  width: 100%;
  background: #f6f6f6;
  border-radius: 8px;
  flex: 1;
}

.UPLOAD_IMGS__PAGE .body .body-wrapper .filters-wrapper .filter-item {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 5px;
  gap: 4px;
  width: 59px;
  height: 15px;
  background: #e6e7ee;
  border: 0.2px solid #626262;
  border-radius: 10px;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #303030;
  position: relative;
  margin-right: 7px;
}

.UPLOAD_IMGS__PAGE .body .body-wrapper .filters-wrapper .filter-item .cls-btn {
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff2b02;
  border-radius: 50%;
  cursor: pointer;
}

.UPLOAD_IMGS__PAGE
  .body
  .body-wrapper
  .filters-wrapper
  .filter-item
  .cls-btn
  > svg {
  color: #fff;
}

.UPLOAD_IMGS__PAGE .body .body-wrapper .docs {
  grid-row: 3/9;
  grid-column: 3/6;
  box-shadow: 0px 8px 16px rgba(43, 53, 116, 0.04);
  border-radius: 8px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.6125rem;
}

.UPLOAD_IMGS__PAGE .body .body-wrapper .docs .doc-detailed-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 4px 5px;
  gap: 12px;

  background: #f6f6f6;
  border-radius: 6px;
}

.UPLOAD_IMGS__PAGE .body .body-wrapper .docs .doc-detailed-item.active {
  background: #f6f6f6;
}

.UPLOAD_IMGS__PAGE .body .body-wrapper .docs .doc-detailed-item select {
  border: 1px solid #6b729e;
  border-radius: 8px;
  padding: 4px 5px;
  font-weight: 400;
  font-size: 11px;
  line-height: 21px;
  height: 30px;
  color: #17181a;
}

.UPLOAD_IMGS__PAGE .body .body-wrapper .docs .doc-detailed-item button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border: 1px solid #6b729e;
  border-radius: 8px;
}

.UPLOAD_IMGS__PAGE
  .body
  .body-wrapper
  .docs
  .doc-detailed-item
  button.delete-btn {
  color: #f05454;
}

.UPLOAD_IMGS__PAGE .body .body-wrapper .docs .doc-detailed-item img {
  max-width: 30px;
  display: block;
}

.UPLOAD_IMGS__PAGE .body .body-wrapper .btns-wrapper {
  grid-column: 1/6;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  align-items: center;
}

.UPLOAD_IMGS__PAGE .body .body-wrapper .btns-wrapper > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 122px;
  height: 38px;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
}
